@font-face {
    font-family: 'monogram';
    src: url("../fonts/monogram.ttf")
  }
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: clip;
  overflow-y: visible;
  overflow-clip-margin: -2;
  background-color: rgb(20, 20, 20);
}
canvas {
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}